* {
  margin: 0;
  padding: 0;
  color: #333333;
  box-sizing: border-box;
  letter-spacing: -0.07em;
  text-transform: uppercase;
}

body {
  background-color: #bec4ab;
  font-family: sans-serif;
  margin-bottom: 50px;
}

header {
  background-color: #aaaf9a;
  border-bottom: solid 5px;
  margin-bottom: 30px;
}

h1 {
  font-size: 52px;
  text-transform: uppercase;
  text-align: center;
  font-style: italic;
  padding: 40px 0px;
}

h2 {
  font-size: 36px;
  text-align: center;
  margin-bottom: 60px;
}

p {
  font-size: 22px;
}

p.shopping-item {
  font-weight: 800;
}

input {
  height: 38px;
  width: 50%;
  font-size: 22px;
  border: none;
  border-radius: 50px;
  text-align: center;
  box-shadow: 5px 5px #424242;
  margin: 50px 0px;
}

input:focus {
  outline: none;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.input-container {
  text-align: center;
  margin-bottom: 40px;
}

#added-products-div {
  display: flex;
  column-gap: 30px;
  padding: 10px 0;
}

#added-list-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 22px;
}

.btn {
  border: none;
  font-weight: bold;
  font-size: 18px;
  padding: 10px;
  margin: 40px 0;
  border-radius: 50px;
  box-shadow: 3px 3px #424242;
}

.btn:hover {
  background-color: #aaaf9a;
  font-weight: normal;
}

#input-field {
  padding: 3px;
}

#response-list {
  display: flex;
  flex-direction: column;
  row-gap: 60px;
  justify-content: space-space;
  border-top: solid #333333;
}

.product-info-div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-info-div p {
  width: 40%;
  text-align: center;
  justify-self: center;
}

.product-div {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.disabled-btn {
  pointer-events: none;
  opacity: 0.3;
}

.ready-btn {
  pointer-events: none;
  background-color: #aaaf9a;
  font-weight: normal;
}

.store-div {
  padding-top: 20px;
  margin-top: 20px;
}

#result-container {
  width: 80%;
  margin: 0 auto;
}

.tota-sum {
  padding-top: 10px;
  font-weight: bold;
  font-size: 28px;
}

#buttons-div {
  display: flex;
  column-gap: 20px;
}

.network-error-p {
  font-weight: bold;
  text-align: center;
  margin-top: 50px;
  font-size: 28px;
  font-style: italic;
}
